/* --ppo-bp-desktop: 959px */
@media (min-width: 959px) {
    .content {
        padding: 1rem 3rem;
    }
}

/* --ppo-bp-desktop-max: 959px */
@media (max-width: 959px) {
    .content {
        padding: 1rem 0;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Aksel navds-link rendered inline (vendor override) */
.content :global(.navds-link) {
    display: inline;
}
