.infotekst {
  &__title-i-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;

    &:focus {
      .infotekst__title-i-icon {
        outline: 0;
        box-shadow: 0 0 0 3px @fokusFarge;
      }
    }
  }

  &__modal {
    @media @desktop {
      max-width: 50%;
    }
  }

  &__ingress {
    max-width: 100%;
  }
  &__title-i-icon {
    border-radius: 50%;
  }
}
