.header {
    display: flex;
    min-height: 2rem;
}

.dropdownIndicator {
    padding: 0.4rem 0.5rem 0 0.5rem;
}

.dropdownIndicator svg {
    width: 1.5rem;
    height: 1.5rem;
}

.spinner {
    margin-right: 5px;
}

.feilmelding {
    display: flex;
    gap: var(--a-spacing-2);
    margin-top: var(--a-spacing-2);
    color: var(--ac-typo-error-text, var(--a-text-danger));
}

.feilmelding::before {
    content: "•";
}

:global(.KodeverkSelect__placeholder) {
    color: var(--a-text-subtle) !important;
}

:global(.KodeverkSelect__margin) {
    margin-right: 0.5rem;
}

:global(.KodeverkSelect__option) {
    min-height: 38px;
}

:global(.KodeverkSelect__control) {
    border: 1px solid var(--a-gray-600) !important;
    min-height: 50px !important;
}

:global(.KodeverkSelect__control:hover) {
    border-color: var(--a-border-default) !important;
    transition: border-color 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

:global(.KodeverkSelect__control--is-focused) {
    box-shadow: 0 0 0 3px var(--a-border-focus);
}

:global(.KodeverkSelect__control--is-disabled) {
    background-color: var(--a-gray-900);
}

:global(.KodeverkSelect__control-feil .KodeverkSelect__control) {
    background-color: var(--a-red-100) !important;
    border-color: var(--a-surface-danger);
}

:global(.KodeverkSelect__single-value) {
    color: var(--a-gray-900);
}

:global(.KodeverkSelect__option-border) {
    border-bottom: 1px solid #979797;
}

/* --ppo-bp-desktop: 959px */
@media (min-width: 959px) {
    :global(.KodeverkSelect__menu) {
        min-width: 305px;
    }
}
