APP_ENV=local
BUILD_VERSION=localbuild
APP_URL=http://localhost:3006/person/personopplysninger
DINE_SAKER_URL=https://www.nav.no/dokumentarkiv
PDL_URL=https://www.nav.no/person/pdl-fullmakt-ui
SKJERMING_URL=https://www.nav.no/person/personopplysninger/skjerming
API_URL=/api
ENDRE_KONTONUMMER_URL=/api
UTBETALINGSOVERSIKT_URL=https://www.intern.dev.nav.no/utbetalingsoversikt
SYKEFRAVAER_URL=https://www.ekstern.dev.nav.no/syk/sykefravaer
LOGIN_URL=https://loginservice-q.nav.no/login
INNLOGGINGSSTATUS_URL=/api/auth
DITT_NAV_URL=https://www.nav.no/minside
TELEMETRY_URL=http://localhost:12347/collect
