.kilde {
  &__container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @media @mobile {
      flex-direction: column;
    }
  }
}
