.kilde {
  &__lenke {
    display: flex;
    width: max-content;
    max-width: 100%;
    align-items: center;
    margin: 1rem 0;
    border: 0;
    padding-left: 0;
    &:first-child {
      margin-right: 1rem;
    }
  }
  &__icon {
    margin-right: 0.5rem;
  }
  &__linje {
    border: 0.5px solid black;
    width: 100%;
    opacity: 0.5;
    margin: 1rem 0;
  }
  &__tekst {
    padding: 0.5rem 0;
    color: @navGra60;
    text-transform: uppercase;
  }
}
