.addresse {
  &__box {
    .addresse__lesmer {
      .lesMerPanel__toggle {
        justify-content: flex-start;
      }
    }
  }
  &__tittel {
    padding: 0 0 1rem 0;
  }
  &__lesmer {
    padding: 0;
  }
  &__linje {
    width: 100%;
  }
  &__midlertidig-adresse {
    padding-top: 3rem;
  }
  &__divider {
    padding: 1rem;
  }
}
