.tlfnummer {
  &__rad {
    border-bottom: 1px solid #e1e1e1;
  }
  &__rad:last-child {
    border: 0;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
  }
  &__input-container {
    display: flex;
  }
  &__input {
    margin-right: 0.5rem;
  }
  &__submit {
    margin: 2rem 0 1rem 0.5rem;
  }
  &__knapp {
    padding: 0 0.5rem !important;
  }
  &__endrestil {
    margin: 1rem 0;
  }
  &__chevron {
    margin: 0.5rem;
  }
}
