.mi {
  &__panel {
  }

  &__rad {
    padding: 1rem 0;
    border-top: 1px solid #979797;

    &:last-child {
      border-bottom: 1px solid #979797;
    }
  }

  &__overskrift {
    margin-bottom: 2rem;
  }
}
