.arbeidsforhold {
    &__disclaimer {
        padding: 2rem 0 1rem 0;
    }
    &__arbeidsgiver {
        color: #78706a;
        text-transform: none !important;
    }
    &__kilde {
        color: #78706a;
    }
    &__anker {
        visibility: hidden;
    }
}
