.utbetalinger {
  &__type {
    margin-bottom: 1rem;

    .inputPanelGruppe__inner {
      display: flex;
      > * {
        width: 50%;
        &:first-child {
          margin-right: 0.5rem;
        }
      }
    }
  }
  &__knapp-container {
    display: flex;
    justify-content: center;
  }
}
