.utbetalinger {
  &__rad {
    display: flex;
  }
  &__type {
    margin-bottom: 1rem;

    .inputPanelGruppe__inner {
      display: flex;
      > * {
        width: 50%;
        &:first-child {
          margin-right: 0.5rem;
        }
      }
    }
  }
  &__knapp {
    margin: 2rem 0 0 1rem;
  }
  &__input-container {
    display: flex;
    flex-wrap: wrap;
  }
  &__alert {
    margin-bottom: 1rem;
  }
  &__input-box {
    @media @desktop {
      min-width: 50%;
      &:nth-child(odd) {
        padding-right: 0.25rem;
      }
      &:nth-child(even) {
        padding-left: 0.25rem;
      }
    }
  }
  &__adressefelter {
    width: 100%;
  }
  &__sentrert-knapp {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
