.customHelpText {
  &__popover {
    font-weight: normal;
    max-width: 50%;
  }
  &__help-button.navds-button {
    margin-top: -6px;
    padding: 0.25rem;

    .navds-label {
      width: 1.5rem;
      height: 1.5rem;
    }

    &.navds-button--tertiary:hover {
      background-color: transparent;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
