.address-box {
  ul {
    list-style-type: none;
    padding: 1em 0 0 0;

    .title {
      font-weight: bold;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 0.5em;
    }
  }

  ul.address-list-col-4 {
    columns: 4;
  }

  ul.address-list-col-3 {
    columns: 3
  }

  li {
    margin-bottom: 2em;
  }

  .address-type {
    margin-top: 0;
  }
}
