@boxwidth: 85%;
@iconwidth: 15%;
@tablet:    ~"only screen and (max-width: 959px)";
@mobile:    ~"only screen and (max-width: 420px)";

.AlternativesBox {
    width: 50vw;
    min-height: 200px;
    margin-right: @iconwidth;

    h1 {
      margin-left: @iconwidth;
        width: 50vw;
    }

    @media @tablet {
      width: 90vw;
    }
}