@link-color: #4a90e2;

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3e3832;
  background-color: #e9e7e7;

  a {
    color: @link-color;
  }

  .capitalize {
    text-transform: capitalize;
  }
}

main {
  display: flex;
  justify-content: center;
}

.Content {
  width: 100%;
  max-width: 800px;
}
