@boxwidth: 85%;
@iconwidth: 15%;

.BoxContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.BoxWithHeader {
  width: 50vw;
  min-height: 200px;
  margin-right: @iconwidth;

  h1 {
    margin-left: @iconwidth;
  }
}

.Box {
  padding: 2em;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 1px 10px 0 rgba(0,0,0,0.12)!important;
  display: inline-block;
  width: @boxwidth;
}

.box-bottom-margin {
  margin-bottom: 5em;
}

.box-bottom-margin-small {
  margin-bottom: 1.5em;
}

.box-footer {
  width: 40%;
  font-style: italic;
  margin-top: 2rem;
}

.box-icon {
  display: inline-block;
  vertical-align: top;
}

.icon-box-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
