.box {
  margin: 3rem 0 3rem 0;
  @media @mobile {
    margin: 1rem 0 1rem 0;
  }

  &__header {
    display: flex;
    flex-flow: column;
    padding: 0 1.5rem 0 1.5rem;
    align-items: center;
    text-align: center;
  }

  &__header > * {
    margin: 1rem;
  }

  &__icon {
    @media @mobile {
      visibility: hidden;
    }
  }

  &__linje-smal {
    border: 1px solid black;
    width: 15%;
  }

  &__linje-bred {
    border: 0.5px solid black;
    width: 60%;
    margin-top: 2rem;
  }

  &__content {

    ul.list-column-1 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        padding: 1rem;
        flex-grow: 1;
        width: 100%;

        .title {
          font-weight: bold;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    ul.list-column-2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        padding: 1rem;
        flex-grow: 1;
        width: 40%;

        @media @tablet {
          width: 100%;
        }

        .title {
          font-weight: bold;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    ul.list-column-2.address-columns {
      li:nth-child(1) {
        order: 1;
      }

      li:nth-child(2) {
        order: 3;
      }

      li:nth-child(3) {
        order: 5;
      }

      li:nth-child(4) {
        order: 2;
      }

      li:nth-child(5) {
        order: 4;
      }
    }

    ul.list-column-3 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        padding: 1rem;
        flex-grow: 1;
        width: 40%;

        @media @tablet {
          width: 100%;
        }

        .title {
          font-weight: bold;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    ul.list-column-4 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        padding: 1rem;
        flex-grow: 1;
        width: 20%;

        @media @tablet {
          width: 100%;
        }

        .title {
          font-weight: bold;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}

.box-footer {
  text-align: left;
  width: 40%;
  font-style: italic;
  margin-top: 2rem;
}

//midlertidig inntil avklaring
.information-circle {
  float: right;
  padding: 0;
  border: none;
  background: none;
}

.InfoBox {
  padding: 2em;
  background-color: #ffe5c2;
  display: inline-block;
  width: @boxwidth;
  margin-bottom: 2em;

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ff9100;
    padding: 0;
  }

  h2 {
    text-align: center;
    margin-bottom: 4rem;
  }

  .info-content {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.BoxContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}



