.Header {
  position: relative;
  background-color: white;
  min-height: 300px;
  padding: 0 4rem 0 4rem;
  margin: 7rem 0 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    font-weight: bold;
    margin-bottom: 0;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-content-wrapper {
      padding: 2rem 0 4rem 0;
    }

    .header-intro {
      padding: 1rem 0 1rem 0;
    }

    .header-description {
      font-size: 1.2rem;
      font-weight: normal;
    }

    @media @tablet {
      display: flex;
      width: 90%;
    }
  }

  .header-icon-mobile {
    height: 7em;
    width: auto;
  }

  .header-icon-mobile-wrapper {
    width: 100%;
    position: absolute;
    display: none;
    top: -4em;
    left: 0;

    @media @tablet {
      display: flex;
      justify-content: center;
    }
  }

  .header-icon-desktop {
    margin: auto 1rem 0 1rem;

    @media @tablet {
      display: none;
    }
  }
}
