@pcwidth: 143px;

.Header {
  background-color: #ccdee6;
  width: 100%;
  height: 320px;
  border-bottom: 5px solid #669db4;
  margin-bottom: 7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 8rem;
  }

  .header-pc-icon {
    margin-top: auto;
  }
}
