.personalia-list {
  list-style: none;
  columns: 2;

  li {
    padding: 1rem;

    .title {
      font-weight: bold;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
