.utbetalinger {
  &__rad {
    display: flex;
    @media @maxMobile {
      flex-direction: column;
    }
  }
  &__type {
    margin-bottom: 1rem;

    .inputPanelGruppe__inner {
      @media @minMobile {
        display: flex;
        > * {
          width: 50%;
          &:first-child {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  &__knapper {
    display: flex;
    margin: 1rem 0;
  }
  &__knapp:last-child {
    margin-left: 0.5rem;
  }
  &__input-container {
    display: flex;
    flex-wrap: wrap;
  }
  &__alert {
    margin-bottom: 2rem;
  }
  &__input-box {
    @media @minMobile {
      min-width: 50%;
      &:nth-child(odd) {
        padding-right: 0.25rem;
      }
      &:nth-child(even) {
        padding-left: 0.25rem;
      }
    }
    @media @maxMobile {
      min-width: 100%;
    }
  }

  &__adressefelter {
    width: 100%;
  }
  &__bankkode {
    &-rad {
      display: flex;
    }
    &-kolonne:first-child {
      max-width: 4rem;
      margin-right: 0.15rem;
    }
    &-kolonne:last-child {
      width: 100%;
      margin-top: 1.9rem;
    }
  }
}
