.box {
    &__wrapper {
        page-break-after: always;

        .list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            & dd {
                margin: 0;
            }
        }

        .navds-guide-panel__content {
            border: none;
        }
    }

    &__title {
        @media @minMobile {
            flex-shrink: 0;
        }
    }

    &__line {
        border-bottom: 1px solid #979797;
        width: 100%;
    }

    &__line:first-child {
        @media @minMobile {
            margin-right: 2rem;
        }
        @media @maxMobile {
            margin-right: 1rem;
        }
    }

    &__line:last-child {
        @media @minMobile {
            margin-left: 2rem;
        }
        @media @maxMobile {
            margin-left: 1rem;
        }
    }

    &__container {
        @media @minDesktop {
            padding: 0 3rem;
        }
    }

    &__title-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__header {
        display: flex;
        flex-flow: column;
    }

    &__linje-bred {
        border: 0.5px solid black;
        width: 100%;
        opacity: 0.5;
        margin: 1rem auto;
    }
}
