.nav-veileder__frame {
  background: transparent !important;
}

.box {
  &__wrapper {
    padding-top: 1rem;
  }

  &__container {
    @media @desktop {
      padding: 0 3rem 1rem 3rem;
    }
  }

  &__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title-i-icon,
  &__title-filler {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    &:focus {
      background: @fokusFarge;
    }
  }

  &__ikon {
    width: 72.5% !important;
  }

  &__modal {
    @media @desktop {
      max-width: 50%;
    }
  }

  &__title-i-icon {
    cursor: pointer;
  }

  &__icon-container {
    @media @desktop {
      padding: 0 1.5rem 0 0;
    }
  }

  &__content-container {
    width: 100%;

    @media @tablet {
      padding: 1.75rem 0;
    }
  }

  &__header {
    display: flex;
    flex-flow: column;
  }

  &__header > * {
    margin-bottom: 0.4rem;
  }

  &__ingress {
    max-width: 100%;
  }

  &__linje-smal {
    border: 1px solid black;
    width: 15%;
  }

  &__linje-bred {
    border: 0.5px solid black;
    width: 100%;
    opacity: 0.5;
    margin: 1.4rem auto;
  }

  &__content {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      padding-left: 0;
    }

    li {
      flex-grow: 1;
      box-sizing: border-box;
      padding: 0rem 2rem 1rem 0rem;

      .title {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    ul.list-column-2 li {
      width: 50%;
      @media @mobile {
        width: 100%;
      }
    }
  }
}

#hjelpetekstknapp {
  border: none;
  background: none;
  cursor: pointer;
  height: 80px;
  width: 80px;
  &:focus {
    outline: 2px dashed
  }
}
