html,
body {
    height: 100%;
}

body {
    background-color: var(--a-bg-subtle);
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.underseksjon {
    &__header {
        padding: 0.5rem 0;
    }
    &__beskrivelse {
        padding-bottom: 0.5rem;
    }
    &__divider {
        padding-top: 1.5rem;
    }
}

.pagewrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.pagecontent {
    width: 100%;
    max-width: 800px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2rem;
}

.capitalize {
    text-transform: capitalize;
}

/*
  Page is set to 9998 to accommodate Dekoratøren.
  Need to raise overlay so that the modal actually shows up.
 */
.ReactModal__Overlay.ReactModal__Overlay--after-open.modal__overlay {
    z-index: 10000;
}
