@minDesktop: ~'all and (min-width: 959px)';
@maxDesktop: ~'all and (max-width: 959px)';
@maxTablet: ~'all and (max-width: 959px)';
@minTablet: ~'all and (min-width: 959px)';
@maxMobile: ~'all and (max-width: 420px)';
@minMobile: ~'all and (min-width: 420px)';

