.pageWrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-bottom: -200px;
    padding-bottom: 200px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
